body {
	margin: 0;
	background: pink;

}

.container {
	width: 80%;
	margin: 0 52;
	padding: 0;
}

header {
	background-image: linear-gradient(to right, #161C2E 60%, #2C5364);
	font-family: 'Raleway', sans-serif;


}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	height: 150px;
	width: 200px;

}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 70 70;
	position: relative;
	transform: .4s;
}


nav a {
	color: #EF6C35;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	transition: font-size .5s;
	transition: color .5s;
	transition: font-weight .5s;
	transition-property: font-size,color ;

}

nav a:hover {
	color: chartreuse;
	font-size: 24px;
	font-weight: bold;

}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: chartreuse;
	position: absolute;
	top: 30;
	width: 0%;
	transition: width .5s, height .2s, transform .4s;
	transition-property: all;
}

nav a:hover::before {
	width: 100%;
	height: 20%;
	transform: rotate(360deg);
}
.section_m{
	position: relative;
}

.heading{
	color:;
	font-family: 'Merriweather', sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: lighter;
	margin-top:0;
	margin-left: 90;
	
}
.section1{
		background-color:#d6ae7b; 
	height:330px;
	width: 100%;
	position :relative;
}
.section1::after,
.section1::before{
	position: absolute;
	content: '';
	width: 150px;
	height: 45px;
	background: #d6ae7b;
	bottom: -1em;
	z-index: 100;
}
.section1::before{
	right:50%;
	transform: skew(0,20deg);
}
.section1::after{
	left:50%;
	left:50%;
	transform: skew(0,-20deg);
}
.heading1{
	color:#FEBA81;
	font-family:'Merriweather', serif;
	font-size: 60px;
	margin-top: 50;
	margin-left:60;
	text-transform: uppercase;
	font-weight:lighter;
}
.section2{
	position: absolute;
	background-image: linear-gradient(to bottom,#141E30 40%, #243B55);
	height: 300px;
	width: 100%;
}

#footerdonate
{
	margin-left: 42%;
	margin-top: 0%; 
  background-color:#FEBA81;
  color:white;
  font-size:16px;
  font-family:'Oswald',sans-serif;
  border:none;
  padding:10px;
  width:250px;
  height:60px;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out .2s;
  -moz-transition: ease-out .2s;
  transition: ease-out .2s;
}
#footerdonate:hover
{
  box-shadow: inset 250px 0 0 0 #ffffff;
  color:#FEBA81;
}